
      <center>
        <h1 class="landing-headline"><strong>Simple&nbsp;pricing</strong></h1>
       <!-- PRICING TABLE STYLE 1-->

       <h2 class="text-centered landing-h2 text-subtle">Easy setup. Try it risk-free.</h2>

       <p class="text-centered text-md"><strong>5 Free testers as your starter pack</strong> Upgrade or downgrade at any time</p>

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-lg btn-default js-plan-monthly active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked=""> Local Pricing
        </label>
        <label class="btn btn-lg btn-default js-plan-yearly">
          <input type="radio" name="options" id="option2" autocomplete="off"> Continental Pricing
        </label>
     </div><br /><br />

      </center><br />


    </div><br />

<div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
                    <div class="price_table_container">
                        <div class="price_table_heading">Free</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost warning-bg"><strong>$ 0<span>/5Testers</span></strong></div>
                            <div class="price_table_row">5 Testers</div>
                            <div class="price_table_row">1 Region</div>
                            <div class="price_table_row">1 High-Level-Expects</div>
                            <div class="price_table_row">2 Medium-Level-Expects</div>
                            <div class="price_table_row">2 Low-Level-Expects</div>
                            <div class="price_table_row">No Analytics Just Responses</div>
                        </div>
                        <a href="#" class="btn btn-warning btn-lg btn-block">Sign Up</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
                    <div class="recommended"><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> RECOMMENDED</strong></div>
                    <div class="price_table_container">
                        <div class="price_table_heading">Basic</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost primary-bg"><strong>$ 210<span>/20Testers</span></strong></div>
                            <div class="price_table_row">20 Testers</div>
                            <div class="price_table_row">Unlimted Regions</div>
                            <div class="price_table_row">12 High-Level-Expects</div>
                            <div class="price_table_row">7 Medium-Level-Expects</div>
                            <div class="price_table_row">1 Low-Level-Expects</div>
                            <div class="price_table_row">Detailed Analytics and Report</div>
                        </div>
                        <a href="#" class="btn btn-primary btn-lg btn-block">Sign Up</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
                    <div class="price_table_container">
                        <div class="price_table_heading">Premium</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost success-bg"><strong>$ 580<span>/50Testers</span></strong></div>
                            <div class="price_table_row">50 Testers</div>
                            <div class="price_table_row">Unlimited Regions</div>
                            <div class="price_table_row">30 High-Level-Expects</div>
                            <div class="price_table_row">12 Medium-Level-Expects</div>
                            <div class="price_table_row">8 Low-Level-Expects</div>
                            <div class="price_table_row">Detailed Analytics and Report</div>
                        </div>
                        <a href="#" class="btn btn-success btn-lg btn-block">Sign Up</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
                    <div class="price_table_container">
                        <div class="price_table_heading">Master</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost info-bg"><strong>$ 1180<span>/100Testers</span></strong></div>
                            <div class="price_table_row">60 Testers</div>
                            <div class="price_table_row">Unlimited Regions</div>
                            <div class="price_table_row">60 High-Level-Expects</div>
                            <div class="price_table_row">35 Medium-Level-Expects</div>
                            <div class="price_table_row">5 Low-Level-Expects</div>
                            <div class="price_table_row">Detailed Analytics and Report</div>
                        </div>
                        <a href="#" class="btn btn-info btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- PRICING TABLE STYLE 1-->
</div>
